<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.mdm.android.example">

    <application
        android:name="br.com.mdm.android.example.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MDM Example"
        android:supportsRtl="true"
        android:theme="@style/NoHeaderAppTheme"
        tools:replace="android:label">

        <activity
            android:name="br.com.mdm.android.example.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="br.com.hands.mdm.libs.android.notification.services.MDMMessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>